body {
    background-image: url(../imagem/bg-repeat.jpg);
    background-size: contain;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.container .informacoes {
    color: #ffffff;
    max-width: 300px;
    margin: 0 60px
}

.container .informacoes .titulo {
    font-size: 2.0rem;
    font-weight: 900;
}

.container .informacoes .texto {
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 11px;
}

.container .formulario {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 20px 22px;
    margin: 25px;
    width: 350px;
    border-radius: 1px;
}

.container .formulario .input-text {
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-top: 15px;
    color: #A8A8A8;
    border: 1px solid;
    border-radius: 5px;
}

.container .formulario .input-text:first-child {
    margin-top: 0;
}

.container .formulario .input-text.campo-preenchido{
	border: 1px solid #00C22B;
}

.container .formulario .input-text.campo-nao-preenchido{
	color: #F52E2E;
    margin-bottom: 0;
}

.container .formulario .campo-obrigatorio{
    display: none;
}

.container .formulario .campo-obrigatorio.ativo{
    font-size: 1rem;
    color: #F52E2E;
    font-weight: 400;
    display: block;
}

.container .formulario .input-text.msg {
    padding-bottom: 70px;
}

.container .formulario .msg-campo-obrigatorio {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 400;
}

.container #botao-enviar {
    background-color: #3CCC87;
    margin-top: 20px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    color: #ffffff;
    transition: 0.3s ease-in-out;
}

.container #botao-enviar:hover{
    background-color: #31a56d;
    transform: scale(1.02);
    cursor: pointer;
}